/* CSS Document */

body{
	margin:0; 
	padding:0; 
	font-family: sans-serif;
}

.navbar, .navbar-expand-lg, .navbar-dark .bg-dark{
	
}

.bg-dark {
    background-color: #181818 !important;
}

.container-fluid{
	padding-right: 0px; 
	padding-left: 0px; 
}

#breadcrumbs{
	width: 90%; 
	text-align: left; 
	margin-left: 5%; 
	margin-top: 1%; 
}

#breadcrumbs a{
	color: black; 
}

#active-crumb{
	text-decoration: underline; 
}


#content video{
	width: 70%;
}

#contact-form{
	width: 90%; 
	margin: .5% auto 1%; 
	display: flex; 
	flex-direction: row;
	flex-wrap: wrap;
}

#slide-show{
	width: 50%;
}

.carousel-item img {
    height: 550px !important;
    width: 550px !important;
}

#message-successful{
	display: none; 
}

form{
	padding-top: .5%; 
	width: 50%; 
	border: solid thin; 
	border-right:none;
	border-radius: 5px;
	border-top-right-radius: 0px; 
	border-bottom-right-radius: 0px; 
	display: flex; 
	flex-direction: column; 
	flex-wrap: wrap; 
	text-align: center; 
}

#list{
	width: 65%; 
	margin: .5% auto; 
	text-align: left;
	border-bottom: groove thin;
	padding: 1%; 
}

#list i{
	margin-right: 5%; 
	width: 3%;
	margin-bottom: 1%; 
}

label{
	width: 100%; 
}

form h3{
	text-align: center; 
	width: 100%; 
}

.text-input{
	width: 65%; 
	margin: 0% auto 3%; 
	border:none; 
	border:solid thin; 
	border-radius: 5px; 
	padding: .5%;
	outline: none; 
}

#msg{
	width: 65%; 
	margin: 0% auto 3%; 
	border:none; 
	border:solid thin; 
	border-radius: 5px; 
	padding: .5%;
	outline: none;  
}

select{
	width: 65%; 
	margin: 3% auto;
}

#btns{
	display: flex; 
	flex-direction: row;
	width: 50%; 
	margin: .5% auto;
}

.btn{
	width: 50%; 
	border: solid thin; 
	border-radius: 50px;
	margin: 1%; 
}

.btn:hover{
	filter: brightness(95%);
}

#submitBtn{
	border-color: #FFD700; 
	background: linear-gradient(rgb(249,179,0), rgb(239,169,0));
	    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 6px 6px -6px #777;
}

footer{
	background-color: #181818;
	text-align: center; 
	color: white; 
}

footer a{
	color: white; 
	margin-right: 1%;
	margin-left: 1%;
}

footer a:hover{
	color:#FCFCFC;
}

@media only screen and (max-width: 700px) {
	
	#contact-form{
		width:100%; 
	}
	form{
		width: 100%; 
		border: none;
	}
	
	#btns{
		width: 75%; 
	}
	
	#slide-show{
		width:100%;
	}

}

